body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

.hero {
    background: linear-gradient(#00000080, rgba(0, 0, 0, 0.5)), url('https://via.placeholder.com/1920x600?text=Liquor+Store');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
}

#home {
    background-image: url('images/liquors.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .hero {
        height: 50vh;
        background-position: center top;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.2rem;
    }
}

.hero p {
    font-size: 1.5rem;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    object-fit: contain;
}

.card-img-top:hover {
    transform: scale(1.05);
}

#products h2 {
    color: white;
}

#contact {
    color: white;
}